/* Värimääritykset */
:root {
    --vihrea: #9ddca5;
    --tummanvihrea: #003e27;
    --keltainen: #e8dba4;
    --pastelli-pinkki: #f9c6d6;
    --cream: #FFEBCD; /* Cream väri */
}

/* Fonttimääritykset */
body {
    font-family: "Anton", sans-serif;
}

/* Yleiset tyylit */
body {
    background-color: var(--keltainen);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
}

/* Navbar */
.navbar {
    background-color: var(--vihrea);
}

.navbar-brand {
    color: var(--tummanvihrea);
    font-family: "Anton", sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.nav-link {
    color: var(--tummanvihrea);
    font-family: "Anton", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Footerin tyylit */
footer {
    background-color: var(--vihrea);
    color: var(--tummanvihrea);
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer h4 {
    margin: 0;
    padding: 0.4em 0 0.4em 0;
}

/* Bonuslaatikon tyylit */
.bonus-message-box {
    background-color: var(--cream); /* Käytetään Cream väriä */
    padding: 2em;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    border: 2px solid black; /* Kehys mustalla viivalla */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.bonus-message-box h2 {
    font-family: "Anton", sans-serif;
    color: var(--tummanvihrea);
}

.bonus-message-box p {
    font-family: "Anton", sans-serif; /* Varmistetaan, että myös nämä tekstit ovat Antonilla */
    color: var(--tummanvihrea);
}

/* Bonuspelin aloitus */
.bonus-start {
    text-align: center;
    margin-top: 30px;
}

.bonus-button {
    background-color: var(--vihrea);
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: "Anton", sans-serif;
}

.bonus-button:hover {
    background-color: var(--tummanvihrea);
}

/* Varmistetaan, että footer on sivun alareunassa */
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

/* Uudet tekstit ja linkki */
.bonus-texts {
    margin-top: 20px;
    text-align: center;
}

.bonus-texts p {
    font-family: "Anton", sans-serif; /* Tässäkin fontiksi Anton */
    color: var(--tummanvihrea);
}

.start-game-link {
    display: inline-block;
    background-color: var(--cream); /* Sama väri kuin laatikolla */
    color: var(--tummanvihrea);
    padding: 1em 2em;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 20px;
    border: 5px solid black; /* Tehdään kehyksestä paksumpi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.start-game-link:hover {
    background-color: var(--vihrea);
    color: white;
}
