/* Värimääritykset */
:root {
    --vihrea: #9ddca5;
    --tummanvihrea: #003e27;
    --keltainen: #e8dba4;

}

/* Fonttimääritykset */

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-thin {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-style: normal;
}
  
.barlow-extralight {
  font-family: "Barlow", serif;
  font-weight: 200;
  font-style: normal;
}
  
.barlow-light {
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
}
  
.barlow-regular {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
}
  
.barlow-medium {
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: normal;
}
  
.barlow-semibold {
  font-family: "Barlow", serif;
  font-weight: 600;
  font-style: normal;
}
  
.barlow-bold {
  font-family: "Barlow", serif;
  font-weight: 700;
  font-style: normal;
}
  
.barlow-extrabold {
  font-family: "Barlow", serif;
  font-weight: 800;
  font-style: normal;
}
  
.barlow-black {
  font-family: "Barlow", serif;
  font-weight: 900;
  font-style: normal;
}
  
.barlow-thin-italic {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-style: italic;
}
  
.barlow-extralight-italic {
  font-family: "Barlow", serif;
  font-weight: 200;
  font-style: italic;
}
  
.barlow-light-italic {
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: italic;
}
  
.barlow-regular-italic {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: italic;
}
  
.barlow-medium-italic {
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: italic;
}
  
.barlow-semibold-italic {
  font-family: "Barlow", serif;
  font-weight: 600;
  font-style: italic;
}
  
.barlow-bold-italic {
  font-family: "Barlow", serif;
  font-weight: 700;
  font-style: italic;
}
  
.barlow-extrabold-italic {
   font-family: "Barlow", serif;
  font-weight: 800;
  font-style: italic;
}
  
.barlow-black-italic {
  font-family: "Barlow", serif;
  font-weight: 900;
  font-style: italic;
}
  
/* Tyylimääritykset */

body {
  background-color: #003e27;
  background-image: url(../images/numeraaliluola/cave-tausta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow: hidden; 
}

.navbar {
  background-color: var(--vihrea);
  padding: 1em;
}

.navbar-brand {
  color: var(--tummanvihrea);
  font-size: 3rem;
}

.nav-link {
  color: var(--tummanvihrea);
  font-size: 1.2rem;
}

.custom-box {
  background-color: #ffead0; 
  border-radius: 15px; 
  color: #003e27;
  padding: 1em;
}

#start-button {
  border-radius: 50%; 
  overflow: hidden; 
}

#start-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3)
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100vh; 
  overflow: hidden; 
  padding: 0; 
  margin: 0; 
  flex: 1; 
}

#score-container {
  background-color: #003e27;
  color: #ffead0;
  border-radius: 15px;
  flex-shrink: 0; 
  max-height: 20%; 
  overflow: hidden; 

}

#upper-parts {
  position: relative; 
  height: 50%; 
}

#upper-parts .draggable {
  position: absolute; 
  cursor: grab;
}

#upper-parts,
#bottom-parts {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-parts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%; 
  margin-bottom: 60px;
}

footer {
  background-color: var(--vihrea);
  color: var(--tummanvihrea);
  flex-shrink: 0; 
  text-align: center;
  padding: 10px;
}


footer h4 {
  margin: 0;
  padding: 0.4em 0 0.4em 0;
}

@media (min-width: 992px) {
  .nav-link {
    font-size: 1.5rem;
  }
}