/* Värimääritykset */
:root {
    --vihrea: #9ddca5;
    --tummanvihrea: #003e27;
    --keltainen: #e8dba4;

}

/* Fonttimääritykset */

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-thin {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-style: normal;
}
  
.barlow-extralight {
  font-family: "Barlow", serif;
  font-weight: 200;
  font-style: normal;
}
  
.barlow-light {
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: normal;
}
  
.barlow-regular {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
}
  
.barlow-medium {
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: normal;
}
  
.barlow-semibold {
  font-family: "Barlow", serif;
  font-weight: 600;
  font-style: normal;
}
  
.barlow-bold {
  font-family: "Barlow", serif;
  font-weight: 700;
  font-style: normal;
}
  
.barlow-extrabold {
  font-family: "Barlow", serif;
  font-weight: 800;
  font-style: normal;
}
  
.barlow-black {
  font-family: "Barlow", serif;
  font-weight: 900;
  font-style: normal;
}
  
.barlow-thin-italic {
  font-family: "Barlow", serif;
  font-weight: 100;
  font-style: italic;
}
  
.barlow-extralight-italic {
  font-family: "Barlow", serif;
  font-weight: 200;
  font-style: italic;
}
  
.barlow-light-italic {
  font-family: "Barlow", serif;
  font-weight: 300;
  font-style: italic;
}
  
.barlow-regular-italic {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: italic;
}
  
.barlow-medium-italic {
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: italic;
}
  
.barlow-semibold-italic {
  font-family: "Barlow", serif;
  font-weight: 600;
  font-style: italic;
}
  
.barlow-bold-italic {
  font-family: "Barlow", serif;
  font-weight: 700;
  font-style: italic;
}
  
.barlow-extrabold-italic {
   font-family: "Barlow", serif;
  font-weight: 800;
  font-style: italic;
}
  
.barlow-black-italic {
  font-family: "Barlow", serif;
  font-weight: 900;
  font-style: italic;
}
  
/* Tyylimääritykset */

/* yleiset body- ja html-tyylit */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #003e27;
  background-image: url(../images/numeraaliluola/cave-tausta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
}

/* navi */
.navbar {
  background-color: var(--vihrea);
  padding: 1em;
}

.navbar-brand {
  color: var(--tummanvihrea);
  font-size: 3rem;
}

.nav-link {
  color: var(--tummanvihrea);
  font-size: 1.2rem;
}

.custom-box {
  background-color: #ffead0; 
  border-radius: 15px; 
  color: #003e27;
  padding: 1em;
}

@media (min-width: 992px) {
  .nav-link {
      font-size: 1.5rem;
  }
}

/* aloituspainike */
#start-button {
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#start-button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* pelialueen container */
#game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* pisteet-container */
#score-container {
  background-color: #003e27;
  color: #ffead0;
  border-radius: 15px;
  padding: 1em;
  max-height: 20%;
  overflow: hidden;
}

#upper-parts,
#bottom-parts {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upper-parts {
  position: relative;
  height: 50%;
}

#bottom-parts {
  height: 10%;
  margin-bottom: 60px;
}

/* raahattavat laatikot */
#upper-parts .draggable {
  position: absolute;
  cursor: grab;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.draggable-box {
  width: 200px;
  height: 80px;
  border-radius: 8px;
  background-color: #ffead0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #003e27;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: grab;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.draggable-box:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.draggable-box:active {
  cursor: grabbing;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* paikallaan olevat laatikot */
.target-box {
  width: 200px;
  height: 80px;
  border: 3px dashed #003e27;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #003e27;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#notification {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em 2em;
  font-size: 1.5rem;
  border-radius: 8px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1000;
}

.notification.success {
  background-color: #003e27; 
}

.notification.error {
  background-color: #dc3545; 
}

#final-box {
  background-color: #ffead0; 
  border-radius: 15px; 
  color: #003e27;
  padding: 1em;
}

footer {
  background-color: var(--vihrea);
  color: var(--tummanvihrea);
  text-align: center;
  padding: 0.7em;
}

footer h4 {
  margin: 0;
  padding: 0.4em 0 0.4em 0;
}
