/* Värimääritykset */
:root {
  --vihrea: #9ddca5;
  --tummanvihrea: #003e27;
  --keltainen: #e8dba4;

}

/* Fonttimääritykset */

.anton-regular {
font-family: "Anton", sans-serif;
font-weight: 400;
font-style: normal;
}

.barlow-thin {
font-family: "Barlow", serif;
font-weight: 100;
font-style: normal;
}

.barlow-extralight {
font-family: "Barlow", serif;
font-weight: 200;
font-style: normal;
}

.barlow-light {
font-family: "Barlow", serif;
font-weight: 300;
font-style: normal;
}

.barlow-regular {
font-family: "Barlow", serif;
font-weight: 400;
font-style: normal;
}

.barlow-medium {
font-family: "Barlow", serif;
font-weight: 500;
font-style: normal;
}

.barlow-semibold {
font-family: "Barlow", serif;
font-weight: 600;
font-style: normal;
}

.barlow-bold {
font-family: "Barlow", serif;
font-weight: 700;
font-style: normal;
}

.barlow-extrabold {
font-family: "Barlow", serif;
font-weight: 800;
font-style: normal;
}

.barlow-black {
font-family: "Barlow", serif;
font-weight: 900;
font-style: normal;
}

.barlow-thin-italic {
font-family: "Barlow", serif;
font-weight: 100;
font-style: italic;
}

.barlow-extralight-italic {
font-family: "Barlow", serif;
font-weight: 200;
font-style: italic;
}

.barlow-light-italic {
font-family: "Barlow", serif;
font-weight: 300;
font-style: italic;
}

.barlow-regular-italic {
font-family: "Barlow", serif;
font-weight: 400;
font-style: italic;
}

.barlow-medium-italic {
font-family: "Barlow", serif;
font-weight: 500;
font-style: italic;
}

.barlow-semibold-italic {
font-family: "Barlow", serif;
font-weight: 600;
font-style: italic;
}

.barlow-bold-italic {
font-family: "Barlow", serif;
font-weight: 700;
font-style: italic;
}

.barlow-extrabold-italic {
 font-family: "Barlow", serif;
font-weight: 800;
font-style: italic;
}

.barlow-black-italic {
font-family: "Barlow", serif;
font-weight: 900;
font-style: italic;
}

/* Tyylimääritykset */

body {
background-color: var(--keltainen);
margin: 0;
}

.navbar {
background-color: var(--vihrea);
padding: 1em;
}

.navbar-brand {
color: var(--tummanvihrea);
font-size: 3rem;
}

.nav-link {
color: var(--tummanvihrea);
font-size: 1.2rem;
}

.custom-box {
background-color: #ffead0; 
border-radius: 15px; 
color: #003e27;
padding: 1em;
}

footer {
background-color: var(--vihrea);
color: var(--tummanvihrea);
}

footer h4 {
margin: 0;
padding: 0.4em 0 0.4em 0;
}

@media (min-width: 992px) {
.nav-link {
  font-size: 1.5rem;
}
}