/* Värimääritykset */
:root {
    --vihrea: #9ddca5;
    --tummanvihrea: #003e27;
    --keltainen: #e8dba4;
}

/* Fontit */
body {
    font-family: 'Anton', sans-serif;
    background-color: var(--keltainen);
}

/* Navigaatio */
.navbar {
    background-color: var(--vihrea);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.nav-link {
    color: var(--tummanvihrea);
    font-size: 28px;
}

.nav-link:hover {
    color: var(--vihrea);
    background-color: var(--tummanvihrea);
}

.navbar-brand {
    font-size: 50px;
    color: var(--tummanvihrea);
}

.navbar-brand-link {
    color: var(--tummanvihrea);
    font-size: 50px;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: var(--vihrea);
    color: var(--tummanvihrea);
    text-align: center;
    padding: 10px 0;
    margin-top: 0;
}

.etusivu {
    background-image: url(./images/tervetuloa.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 700px;
    margin: 0;
    padding: 0;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
}

.quiz-container {
    text-align: center;
    padding: 20px;
}

.quiz-image {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--vihrea);
    border-radius: 10px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.option-btn {
    background-color: var(--vihrea);
    color: var(--tummanvihrea);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-btn:hover {
    background-color: var(--tummanvihrea);
    color: white;
}

#feedback {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.aloitusnappi {
    display: inline-block;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #9ddca5;
    color: #003e27;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.aloitusnappi:hover {
    background-color: #003e27;
    color: white;
}